body{
    margin: 0;
    background-color: rgb(45, 45, 65);
}

.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 150px repeat(5, 75px);
    background-color: rgb(34, 67, 116);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(34, 67, 116);
    box-shadow: 5px 5px 10px -3px #00000050, -5px -5px 15px 3px rgba(70, 108, 146, 0.181);
}
button:active{
    background-color: rgb(23, 47, 82);
}
button:focus{
    outline: none;
}
.Display{
    grid-column: 1/-1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(37, 40, 37);
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000032;
}

.Col2{
    grid-column: span 2;
}
#valor-actual{
    font-size: 1.6em;
}
#valor-anterior{
    font-size: 1.9em;
}